* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width:768px) {
h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width:768px) {
h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  /*padding: 5px;*/
}

  @media only screen and (min-width:768px) {
    ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    }
  }

  @media only screen and (min-width:992px) {
    ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 10 px;
    }
  }


img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
  @media only screen and (min-width:768px) {
    img {
    width: 200px;
    height: 200px;
    }
  }

  li {
    border: 5px solid slategray;
    list-style: none;
    padding: 2px;
  }

  li:nth-child(1) {
    grid-column: span 2;
  }

  @media only screen and (min-width:768px) {
    li:nth-child(-n+2) {
      grid-column: span 2;
    }
  }

  @media only screen and (min-width:992px) {
  li:nth-child(1) {
    grid-column: span 2;
  }
}

  h3 {
    font-size: 1rem;
    text-align: center;
  }

  @media only screen and (min-width:768px) {
    h3 {
      font-size: 1.75rem;
      text-align: center;
    }
  }

  p {
    font-size: 0.7rem;
    text-align: center;
    margin-top: auto;
  }

  @media only screen and (min-width:768px) {
    p {
  font-size: 1rem;
    text-align: center;
    margin-top: auto;
    }
  }
