* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  background: red;
  position: relative;
  animation: animateTitle 5s infinite;
}

@keyframes animateTitle {
  0% {
    left: 0;
    background: red;
    width: 100px;
  }
  100% {
    left: 35%;
    background: yellow;
    width: 300px;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }
}

/*grid-float for small media */

#grid-floats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

#grid-floats > li.grid-item {
  border: 5px solid slategray;
  list-style: none;
  padding: 2px;
}

#grid-floats > li.grid-item > h3 {
  text-align: center;
  font-size: 1.6rem;
}

#grid-floats > li.grid-item > img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#grid-floats > li.grid-item > p {
  text-align: center;
  font-size: 1rem;
  margin-top: auto;
  padding: 0 10px;
}

#grid-floats > li:nth-child(1) {
  grid-column: span 2;
}

/* grid floats for tablet */
@media only screen and (min-width: 768px) {
  #grid-floats {
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
  }

  #grid-floats > li.grid-item {
    grid-column: span 4;
  }

  #grid-floats > li:nth-child(-n + 2) {
    grid-column: span 6;
  }

  #grid-floats > li.grid-item > h3 {
    font-size: 1.8rem;
  }

  #grid-floats > li.grid-item > img {
    width: 200px;
    height: 200px;
  }
}

/* grid floats for desktop */

@media only screen and (min-width: 1024px) {
  #grid-floats {
    grid-template-columns: repeat(4, 1fr);
  }

  #grid-floats > li.grid-item {
    grid-column: auto;
  }

  #grid-floats > li:nth-child(1) {
    grid-column: span 2;
  }
}

/*Grid flex */

#grid-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 8px;
  padding: 5px;
}
#grid-flex p {
  font-size: 1em;
}
#grid-flex img {
  width: 70%;
  height: auto;
  margin: 2rem;
}
#grid-flex li {
  width: 16%;
  height: auto;
  margin: 1%;
  padding: 1%;
}
#grid-flex :first-child {
  width: 30%;
}
@media screen and (max-width: 320px) {
  #grid-flex li {
    width: 40%;
  }
  #grid-flex :first-child {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  #grid-flex li {
    width: 30%;
  }
  #grid-flex :first-child {
    width: 45%;
  }
}
@media screen and (max-width: 800px) and (min-width: 1224px) {
  #grid-flex li {
    width: 20%;
  }
  #grid-flex :first-child {
    width: 30%;
  }
}
